# Do not export those files in the Composer archive (lighter dependency)
.github/ export-ignore
demo/ export-ignore
docs/ export-ignore
runtime/ export-ignore
tests/ export-ignore
utils/ export-ignore
website/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcs.xml export-ignore
couscous.yml export-ignore
docker-compose.yml export-ignore
Makefile export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore

# Auto detect text files and perform LF normalization
* text=auto
