parameters:
  level: 5
  paths:
    - bref
    - src
    - tests
  excludePaths:
    - %rootDir%/../../../tests/Sam/Php/*
    - %rootDir%/../../../tests/Sam/PhpFpm/*
    - %rootDir%/../../../tests/FpmRuntime/Functional/fpm/*
