parameters:
  level: 5
  paths:
    - src
    - tests
  excludes_analyse:
    - %rootDir%/../../../tests/Bridge/Laravel/bootstrap/cache/*
    - %rootDir%/../../../tests/Bridge/Laravel/storage/*
    - %rootDir%/../../../tests/Bridge/Symfony/var/*
