parameters:
  level: 5
  paths:
    - bref
    - src
    - tests
  excludes_analyse:
    - %rootDir%/../../../tests/Bridge/Laravel/bootstrap/cache/*
    - %rootDir%/../../../tests/Bridge/Laravel/storage/*
    - %rootDir%/../../../tests/Bridge/Symfony/var/*
    - %rootDir%/../../../tests/Bridge/Symfony/cache/*
    - %rootDir%/../../../tests/Bridge/Symfony/logs/*
    - %rootDir%/../../../tests/Sam/Php/*
    - %rootDir%/../../../tests/Sam/PhpFpm/*
