<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="small">
            <directory>./tests/</directory>
            <exclude>./tests/Functional</exclude>
            <exclude>./tests/Sam</exclude>
        </testsuite>
        <testsuite name="runtimes">
            <directory>./tests/Functional</directory>
            <directory>./tests/Sam</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
