<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="small">
            <directory>./tests/</directory>
            <exclude>./tests/Runtime/PhpRuntimeTest.php</exclude>
        </testsuite>
        <testsuite name="full">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
