{# Double id="" to keep old links working #}
<section id="enterprise" class="py-24 lg:pb-32">
    <div id="plans" class="container max-w-screen-xl mx-auto px-4">
        <h2 id="ecosystem" class="text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800 relative">
            <a class="title-anchor text-gray-300 -ml-10" href="#plans">#</a>
            Ecosystem
        </h2>

        <div class="mt-12 space-y-4 sm:mt-16 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:mx-auto lg:max-w-4xl xl:mx-0 xl:max-w-none lg:grid-cols-3">
            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
                <div class="p-6">
                    <h3 class="text-3xl font-bref font-bold leading-6 text-gray-900">Bref</h3>
                    <p class="mt-8">
                        <span class="font-bold text-lg text-gray-900">Free and Open Source</span>
                    </p>
                    <p class="h-4 mt-1"></p>
                    <a href="/docs/" class="mt-6 block w-full rounded-md bg-blue-600 py-3 text-center text-sm font-semibold text-white hover:bg-blue-800 hover:text-white">Documentation</a>
                </div>
                <div class="px-6 pt-6 pb-8">
                    <ul role="list" class="space-y-4 pl-0">
                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">The Bref open-source project, its documentation and framework integrations</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Deploy your applications in your AWS account</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Use the public AWS Lambda runtimes hosted in the Bref AWS account</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
                <div class="p-6">
                    <h3 class="text-3xl font-bref font-bold leading-6 text-gray-900">Bref Pro</h3>
                    <p class="mt-8">
                        <span class="text-xl font-bold tracking-tight text-gray-900">$100</span>
                        <span class="text-base font-medium text-gray-500">/mo</span>
                    </p>
                    <p class="h-4 mt-1 text-gray-500 text-xs">
                        * cancel anytime, first month refund if not satisfied
                    </p>
                    <a href="https://matthieunapoli.typeform.com/to/d2OoXKln" target="_blank" class="mt-6 block w-full rounded-md bg-gray-800 py-3 text-center text-sm font-semibold text-white hover:bg-gray-900 hover:text-white">Get Started</a>
                </div>
                <div class="px-6 pt-6 pb-8">
                    <ul role="list" class="space-y-4 pl-0">
                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">The Bref open-source project, its documentation and framework integrations</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Deploy your applications in your AWS account</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Use the public AWS Lambda runtimes hosted in the Bref AWS account</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Use AWS Lambda runtimes hosted in <em>your</em> AWS account (opt-in)</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Open-source gold sponsor 💙</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Expert support via Slack and Email</span>
                            <a href="#expert-support" title="Learn more about support">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
                <div class="p-6">
                    <h3 class="text-3xl font-bref font-bold leading-6 text-gray-900">Bref Enterprise</h3>
                    <p class="mt-8">
                        <span class="text-base font-medium text-gray-500">Starting at</span>
                        <span class="text-xl font-bold tracking-tight text-gray-900">$1000</span>
                        <span class="text-base font-medium text-gray-500">/mo</span>
                    </p>
                    <p class="h-4 mt-1 text-gray-500 text-xs">
                        * cancel anytime, first month refund if not satisfied
                    </p>
                    <a href="mailto:matthieu@null.tc?subject=Bref%20Enterprise" class="mt-6 block w-full rounded-md bg-gray-800 py-3 text-center text-sm font-semibold text-white hover:bg-gray-900 hover:text-white">Get In Touch</a>
                </div>
                <div class="px-6 pt-6 pb-8">
                    <ul role="list" class="space-y-4 pl-0">
                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">The Bref open-source project, its documentation and framework integrations</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Deploy your applications in your AWS account</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Use the public AWS Lambda runtimes hosted in the Bref AWS account</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Use AWS Lambda runtimes hosted in <em>your</em> AWS account (opt-in)</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Open-source premium sponsor 💙</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">
                                Tailor-made AWS Lambda runtimes optimized for your project (opt-in)
                            </span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Expert support via Zoom, Slack, and Email</span>
                            <a href="#expert-support" title="Learn more about support">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                                </svg>
                            </a>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">GitHub/GitLab review for infrastructure code</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">Engineer-led introduction and onboarding</span>
                        </li>

                        <li class="flex space-x-3">
                            <!-- Heroicon name: mini/check -->
                            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-600">
                                Team access to the
                                <a href="https://serverless-visually-explained.com/?ref=bref-home" title="Serverless PHP training">Serverless Visually Explained</a>
                                course
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-10 space-y-10 lg:grid lg:grid-cols-3 lg:gap-6 lg:space-y-0 lg:mx-auto lg:max-w-4xl xl:mx-0 xl:max-w-none">
            <div>
                <p class="mb-3">
                    Bref is a free and open-source project <a href="https://github.com/brefphp/bref">hosted on GitHub</a>.
                </p>
                <p>
                    Bref Pro and Bref Enterprise are offered by <a href="https://null.tc">Null</a>, the company created by the author of Bref. Got any question about these plans?
                    <script type="text/javascript">
                        <!--
                        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                        // Random encryption key feature coded by Andrew Moulden
                        // This code is freeware provided these four comment lines remain intact
                        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                        { coded = "KxmmOjHo@AoLL.mz"
                            key = "iPREema9VAO7Qp0ljbZdHKxWN2kDJBGLcuM1Us5T8C6rqIFSzowtvX4nhYfy3g"
                            shift=coded.length
                            link=""
                            for (i=0; i<coded.length; i++) {
                                if (key.indexOf(coded.charAt(i))==-1) {
                                    ltr = coded.charAt(i)
                                    link += (ltr)
                                }
                                else {
                                    ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                                    link += (key.charAt(ltr))
                                }
                            }
                            document.write("<a href='mailto:"+link+"'>Get in touch by email</a>")
                        }
                        //-->
                    </script><noscript>Sorry, Javascript is required to display the email address.</noscript>.
                </p>
            </div>

            <div class="col-span-2">

                <div id="expert-support" class="flex">
                    <div class="flex-grow-0 pr-6">
                        <svg viewBox="0 0 24 24" class="w-10 fill-current text-blue-700">
                            <rect width="24" height="24" fill="none" rx="0" ry="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.99995 5C1.99995 3.89543 2.89538 3 3.99995 3H19.9999C21.1045 3 21.9999 3.89543 21.9999 5V15C21.9999 16.1046 21.1045 17 19.9999 17H14.4563L8.79008 21.0371C8.45908 21.2729 7.99995 21.0362 7.99995 20.6298V16.8C7.99995 16.4686 8.26858 16.2 8.59995 16.2C8.93132 16.2 9.19995 16.4686 9.19995 16.8V19.2563L13.9045 15.9348C13.9798 15.8816 14.0637 15.8483 14.1496 15.834C14.2121 15.812 14.2793 15.8 14.3493 15.8H15.1966H19.7999C20.3522 15.8 20.7999 15.3523 20.7999 14.8V5.2C20.7999 4.64772 20.3522 4.2 19.7999 4.2H4.19995C3.64766 4.2 3.19995 4.64771 3.19995 5.2V14.8C3.19995 15.3523 3.64767 15.8 4.19995 15.8H4.74844H5.39575C5.72712 15.8 5.99575 16.0686 5.99575 16.4C5.99575 16.7314 5.72712 17 5.39575 17H3.99995C2.89538 17 1.99995 16.1046 1.99995 15V5Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 6.90005C5 6.56868 5.26863 6.30005 5.6 6.30005H11.4C11.7314 6.30005 12 6.56868 12 6.90005C12 7.23142 11.7314 7.50005 11.4 7.50005H5.6C5.26863 7.50005 5 7.23142 5 6.90005ZM10 9.90005C10 9.56868 10.2686 9.30005 10.6 9.30005H18.4C18.7314 9.30005 19 9.56868 19 9.90005C19 10.2314 18.7314 10.5 18.4 10.5H10.6C10.2686 10.5 10 10.2314 10 9.90005ZM5.6 9.30005C5.26863 9.30005 5 9.56868 5 9.90005C5 10.2314 5.26863 10.5 5.6 10.5H8.4C8.73137 10.5 9 10.2314 9 9.90005C9 9.56868 8.73137 9.30005 8.4 9.30005H5.6ZM5 12.9C5 12.5687 5.26863 12.3 5.6 12.3H9.4C9.73137 12.3 10 12.5687 10 12.9C10 13.2314 9.73137 13.5 9.4 13.5H5.6C5.26863 13.5 5 13.2314 5 12.9ZM11.6 12.3C11.2686 12.3 11 12.5687 11 12.9C11 13.2314 11.2686 13.5 11.6 13.5H15.4C15.7314 13.5 16 13.2314 16 12.9C16 12.5687 15.7314 12.3 15.4 12.3H11.6Z"/>
                        </svg>
                    </div>
                    <div class="flex-grow mb-6">
                        <p class="text-lg font-bold mb-1">
                            Direct support, aka Matthieu-as-a-Service
                        </p>
                        <p class="text-gray-700">
                            Provide your team with direct support from
                            <a href="https://mnapoli.fr">Matthieu</a>,
                            author of Bref,
                            <a href="https://aws.amazon.com/developer/community/heroes/matthieu-napoli/">AWS Serverless Hero</a>,
                            and former
                            <a href="https://github.com/serverless/serverless">Serverless Framework product manager</a>.
                            <br>
                            Support covers Bref (including priority bugfixes), serverless, and AWS.
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-grow-0 pr-6">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 text-blue-700">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                        </svg>
                    </div>
                    <div class="flex-grow mb-6">
                        <p class="text-lg font-bold mb-1">
                            Self-hosted AWS Lambda runtimes
                        </p>
                        <p class="text-gray-700">
                            Runtimes provided by the open-source project are served from the Bref AWS account.
                            <br>
                            It works perfectly, but if your project or company policy requires full ownership of AWS Lambda runtimes, Bref Pro and Bref Enterprise help you publish the runtimes to your own AWS account.
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-grow-0 pr-6">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 text-blue-700">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                        </svg>
                    </div>
                    <div class="flex-grow mb-6">
                        <p class="text-lg font-bold mb-1">
                            Tailored and optimized runtimes
                        </p>
                        <p class="text-gray-700">
                            Bref Enterprise helps you optimize runtimes to your needs and comply with security standards and regulations.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
