
<section id="enterprise" class="py-24 lg:pb-32">
    <div class="container mx-auto px-4">
        <h2 class="mb-12 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
            Bref Enterprise
        </h2>
        <div class="lg:flex">
            <div class="flex-1 mb-12 lg:mr-20">
                <p class="mb-3">
                    Serverless radically simplifies software delivery and operations. This leads to shorter time-to-market as well as cost-efficient scalable architectures. No wonder serverless is on the map of larger organizations.
                </p>
                <p class="mb-3">
                    <strong>Accelerate serverless adoption in your organization</strong> by working with the Bref core team. Get there fast, and get there right.
                </p>
                <p class="mb-10">
                    We can help you go beyond "Getting started" tutorials and integrate serverless technologies to your organization's existing practices and tooling.
                </p>
                <p class="mb-6">
                    <strong>Get in touch</strong> to learn more:
                </p>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: "6812669",
                        formId: "b66804ae-abc9-4231-8de7-65045da10715"
                    });
                </script>
            </div>

            <div class="flex-1">

                <div class="flex">
                    <div class="flex-grow-0 pr-8">
                        <svg viewBox="0 0 24 24" class="w-10 fill-current text-blue-700">
                            <rect width="24" height="24" fill="none" rx="0" ry="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.99995 5C1.99995 3.89543 2.89538 3 3.99995 3H19.9999C21.1045 3 21.9999 3.89543 21.9999 5V15C21.9999 16.1046 21.1045 17 19.9999 17H14.4563L8.79008 21.0371C8.45908 21.2729 7.99995 21.0362 7.99995 20.6298V16.8C7.99995 16.4686 8.26858 16.2 8.59995 16.2C8.93132 16.2 9.19995 16.4686 9.19995 16.8V19.2563L13.9045 15.9348C13.9798 15.8816 14.0637 15.8483 14.1496 15.834C14.2121 15.812 14.2793 15.8 14.3493 15.8H15.1966H19.7999C20.3522 15.8 20.7999 15.3523 20.7999 14.8V5.2C20.7999 4.64772 20.3522 4.2 19.7999 4.2H4.19995C3.64766 4.2 3.19995 4.64771 3.19995 5.2V14.8C3.19995 15.3523 3.64767 15.8 4.19995 15.8H4.74844H5.39575C5.72712 15.8 5.99575 16.0686 5.99575 16.4C5.99575 16.7314 5.72712 17 5.39575 17H3.99995C2.89538 17 1.99995 16.1046 1.99995 15V5Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 6.90005C5 6.56868 5.26863 6.30005 5.6 6.30005H11.4C11.7314 6.30005 12 6.56868 12 6.90005C12 7.23142 11.7314 7.50005 11.4 7.50005H5.6C5.26863 7.50005 5 7.23142 5 6.90005ZM10 9.90005C10 9.56868 10.2686 9.30005 10.6 9.30005H18.4C18.7314 9.30005 19 9.56868 19 9.90005C19 10.2314 18.7314 10.5 18.4 10.5H10.6C10.2686 10.5 10 10.2314 10 9.90005ZM5.6 9.30005C5.26863 9.30005 5 9.56868 5 9.90005C5 10.2314 5.26863 10.5 5.6 10.5H8.4C8.73137 10.5 9 10.2314 9 9.90005C9 9.56868 8.73137 9.30005 8.4 9.30005H5.6ZM5 12.9C5 12.5687 5.26863 12.3 5.6 12.3H9.4C9.73137 12.3 10 12.5687 10 12.9C10 13.2314 9.73137 13.5 9.4 13.5H5.6C5.26863 13.5 5 13.2314 5 12.9ZM11.6 12.3C11.2686 12.3 11 12.5687 11 12.9C11 13.2314 11.2686 13.5 11.6 13.5H15.4C15.7314 13.5 16 13.2314 16 12.9C16 12.5687 15.7314 12.3 15.4 12.3H11.6Z"/>
                        </svg>
                    </div>
                    <div class="flex-grow mb-6">
                        <p class="text-lg font-bold mb-1">
                            Dedicated expert support
                        </p>
                        <p class="text-gray-700">
                            Provide your team with expert DevOps support covering Bref, serverless, and AWS.
                            <br>
                            Get an architecture review before starting a new project, and get continuous help while implementing and running it. Make sure your team is following the best practices regarding cost-efficiency, performances, and security.
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-grow-0 pr-8">
                        <svg viewBox="0 0 24 24" class="w-10 fill-current text-blue-700">
                            <rect width="24" height="24" fill="none" rx="0" ry="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.00002 19.5999H17C18.43 19.5999 19.6 18.4299 19.6 16.9999V15.9999C19.6 15.6699 19.33 15.3999 19 15.3999C18.67 15.3999 18.4 15.6699 18.4 15.9999V16.9999C18.4 17.7699 17.77 18.3999 17 18.3999H7.00002C6.23002 18.3999 5.60002 17.7699 5.60002 16.9999V13.4477L7.57996 15.42C7.68996 15.54 7.84996 15.6 7.99996 15.6C8.14996 15.6 8.30996 15.54 8.41996 15.43C8.64996 15.19 8.64996 14.81 8.41996 14.58L5.47711 11.6371C5.36724 11.4932 5.194 11.3999 5.00002 11.3999C4.87404 11.3999 4.75681 11.4393 4.66 11.5063C4.62812 11.5274 4.59793 11.552 4.56996 11.58L1.56996 14.58C1.33996 14.82 1.33996 15.2 1.56996 15.43C1.80996 15.66 2.18996 15.66 2.41996 15.43L4.40002 13.4499V16.9999C4.40002 18.4299 5.57002 19.5999 7.00002 19.5999Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0377 12.5987C19.0251 12.5996 19.0125 12.6 19 12.6C18.9866 12.6 18.9732 12.5995 18.9597 12.5986C18.9098 12.5952 18.8616 12.5857 18.8157 12.5708C18.7279 12.5428 18.6451 12.4951 18.58 12.43L15.58 9.42997C15.35 9.19997 15.35 8.81997 15.58 8.57997C15.82 8.34997 16.2 8.34997 16.43 8.57997L18.4 10.55V6.9999C18.4 6.2299 17.77 5.5999 17 5.5999H7.00002C6.23002 5.5999 5.60002 6.2299 5.60002 6.9999V7.9999C5.60002 8.3299 5.33002 8.5999 5.00002 8.5999C4.67002 8.5999 4.40002 8.3299 4.40002 7.9999V6.9999C4.40002 5.5699 5.57002 4.3999 7.00002 4.3999H17C18.43 4.3999 19.6 5.5699 19.6 6.9999V10.5699L21.59 8.57997C21.82 8.34997 22.2 8.34997 22.44 8.57997C22.67 8.80997 22.67 9.18997 22.44 9.42997L19.44 12.43C19.3527 12.5038 19.252 12.5551 19.1498 12.5809C19.1136 12.5902 19.0761 12.5963 19.0377 12.5987Z"/>
                        </svg>
                    </div>
                    <div class="flex-grow mb-6">
                        <p class="text-lg font-bold mb-1">
                            Bref sponsorship and priority bug fixes
                        </p>
                        <p class="text-gray-700">
                            Ensure that Bref gets continuously maintained, and that bugs affecting your teams get fixed in priority.
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-grow-0 pr-8">
                        <svg viewBox="0 0 24 24" class="w-10 fill-current text-blue-700">
                            <rect width="24" height="24" fill="none" rx="0" ry="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 10.3837C9.68989 11.8965 10.7665 13.2449 11.7234 14.1005C11.6197 14.2084 11.556 14.3549 11.556 14.5165C11.556 14.5195 11.556 14.5226 11.556 14.5257V16.7231C11.556 16.7262 11.556 16.7292 11.556 16.7323C11.556 17.0638 11.8245 17.3324 12.1556 17.3324H15.1458C15.4769 17.3324 15.7454 17.0638 15.7454 16.7323H15.7455V14.5165H15.7454C15.7454 14.3553 15.6819 14.2089 15.5786 14.1011C16.5353 13.2455 17.6124 11.8969 17.9573 10.3837C18.219 9.23474 17.9964 8.1532 17.3148 7.25623C16.4222 6.08044 15.0872 5.40662 13.6517 5.40613H13.6507C12.2161 5.40613 10.8802 6.08044 9.98663 7.25623C9.30499 8.1532 9.08331 9.23474 9.34502 10.3837ZM12.7552 16.1322H14.5463V15.1166H12.7552V16.1322ZM13.6507 6.60632C12.594 6.60632 11.6067 7.10779 10.9417 7.9823C10.469 8.60437 10.3294 9.30261 10.5149 10.1171C10.8424 11.5536 12.1383 12.9676 13.011 13.6049V11.3193C12.6429 11.1103 12.3946 10.7147 12.3946 10.2612C12.3946 9.58966 12.939 9.04529 13.6105 9.04529C14.282 9.04529 14.8264 9.58966 14.8264 10.2612C14.8264 10.7146 14.5782 11.1101 14.2103 11.3191V13.6629C15.0821 13.0568 16.4496 11.5989 16.7874 10.1171C16.972 9.3031 16.8323 8.60437 16.3597 7.9823C15.6956 7.10779 14.7083 6.60632 13.6517 6.60632H13.6507Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0916 4.19056C15.1581 4.21448 15.2264 4.22571 15.2938 4.22571C15.5399 4.22571 15.7704 4.07288 15.8582 3.82825L16.2205 2.80339C16.3329 2.49138 16.1707 2.14763 15.8582 2.03581C15.5477 1.92302 15.2039 2.08561 15.0916 2.39811L14.7293 3.42298C14.617 3.73499 14.7791 4.07874 15.0916 4.19056ZM19.2396 6.91156C19.3578 7.06927 19.5375 7.15228 19.7201 7.15228C19.8451 7.15228 19.972 7.11322 20.0795 7.03265L22.0497 5.55827C22.3153 5.35954 22.3691 4.98357 22.1708 4.71843C21.9706 4.45183 21.5946 4.40007 21.331 4.59733L19.3607 6.07171C19.0951 6.27044 19.0414 6.64642 19.2396 6.91156ZM21.9804 12.6095C21.9658 12.6095 21.9511 12.6091 21.9365 12.6081L19.7333 12.3753C19.4022 12.3514 19.1542 12.0638 19.1776 11.7337C19.203 11.4027 19.4989 11.1624 19.8192 11.178L22.0224 11.4108C22.3535 11.4347 22.6015 11.7223 22.5781 12.0524C22.5546 12.3683 22.2919 12.6095 21.9804 12.6095ZM10.9603 21.7386C10.6752 21.7386 10.4222 21.5341 10.3705 21.2435L10.0648 19.5219C6.22336 19.7879 6.13703 19.3576 6.04625 18.9052C5.81383 17.7362 5.43785 15.6439 5.27379 14.6107L3.32262 13.6537C3.0648 13.6044 2.84703 13.4442 2.73277 13.2118C2.60387 12.9496 2.63512 12.6415 2.8148 12.4076L6.17906 8.09753C6.2357 4.04285 9.28355 2.10437 12.138 2.01941C12.5218 2.15176 13.0662 2.57691 12.1732 3.21863C10.3714 3.27234 7.33336 4.40222 7.37828 8.29724L7.38121 8.5072L4.10777 12.702L6.36656 13.8104L6.41246 14.1234C6.52281 14.8778 6.90562 17.037 7.16246 18.3597C7.75035 18.4286 9.25621 18.3842 10.514 18.2855L11.057 18.243L11.5521 21.0336C11.6097 21.3597 11.3929 21.6713 11.0658 21.7294C11.0306 21.7357 10.9955 21.7386 10.9603 21.7386Z"/>
                        </svg>
                    </div>
                    <div class="flex-grow mb-6">
                        <p class="text-lg font-bold mb-1">
                            Hands-on training
                        </p>
                        <p class="text-gray-700">
                            Save your team 2 weeks of research with 2 days of training. On-site or remote.
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-grow-0 pr-8">
                        <svg viewBox="0 0 24 24" class="w-10 fill-current text-blue-700">
                            <rect width="24" height="24" fill="none" rx="0" ry="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 13C5 11.8954 5.89543 11 7 11H17C18.1046 11 19 11.8954 19 13V21C19 22.1046 18.1046 23 17 23H7C5.89543 23 5 22.1046 5 21V14.6V13ZM12.4 15.2H6.2V20.8C6.2 21.3523 6.64771 21.8 7.2 21.8H16.8C17.3523 21.8 17.8 21.3523 17.8 20.8V13.2C17.8 12.6477 17.3523 12.2 16.8 12.2H7.2C6.64772 12.2 6.2 12.6477 6.2 13.2V14H12.4C12.7314 14 13 14.2686 13 14.6C13 14.9314 12.7314 15.2 12.4 15.2ZM12 18C11.4477 18 11 18.4477 11 19V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V19C13 18.4477 12.5523 18 12 18ZM14.1 14C13.7686 14 13.5 14.2686 13.5 14.6C13.5 14.9314 13.7686 15.2 14.1 15.2H15.9C16.2314 15.2 16.5 14.9314 16.5 14.6C16.5 14.2686 16.2314 14 15.9 14H14.1Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 6C7 3.23858 9.23858 1 12 1C14.7614 1 17 3.23858 17 6V9.75C17 10.1642 16.6642 10.5 16.25 10.5C15.8358 10.5 15.5 10.1642 15.5 9.75V6C15.5 4.067 13.933 2.5 12 2.5C10.067 2.5 8.5 4.067 8.5 6V9.75C8.5 10.1642 8.16421 10.5 7.75 10.5C7.33579 10.5 7 10.1642 7 9.75V6Z"/>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <p class="font-bold">
                            On-premises PHP runtimes
                        </p>
                        <p class="text-gray-700">
                            Automatically host Bref runtimes in your AWS account to avoid depending on 3rd parties.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
