<section class="mt-24 py-12 bg-gray-800 text-gray-400 text-center text-sm font-light">
    <div class="container mx-auto px-4">
        <p>
            &copy; 2019-{{ 'now'|date('Y') }} Matthieu Napoli -
            <a href="https://github.com/brefphp/bref" class="text-blue-400">GitHub</a> -
            <a href="https://twitter.com/brefphp" class="text-blue-400">Twitter</a>
        </p>
        <p class="mt-2">
            Need help? Take a look at the
            <a href="/#plans" title="Bref serverless support" class="text-blue-400">support plans</a>.
        </p>
    </div>
</section>
