<section class="mt-24 py-12 bg-gray-800 text-gray-400 text-center">
    <div class="container mx-auto px-4">
        <p class="font-light">
            Need help? Get in touch with
            <a href="https://null.tc/?ref=bref" title="null is a consulting and web development company." class="text-blue-400">null</a>, the team that creates Bref.
        </p>
    </div>
</section>
