{% extends 'layout.twig' %}

{% set metaTitle = 'Bref - Serverless PHP made simple' %}
{% set metaDescription = 'Bref is a framework to write and deploy serverless PHP applications on AWS Lambda.' %}

{% block body %}

    <div class="hero">

        <nav class="py-5 font-light">
            <div class="container mx-auto px-4 flex items-center justify-between flex-wrap">
                <div class="flex items-center flex-shrink-0">
                    <a href="/docs/" title="Bref documentation for serverless PHP applications"
                       class="inline-block text-blue-100 hover:text-white px-4 py-2 mr-4">
                        Documentation
                    </a>
                    <a href="/#enterprise" title="Bref enterprise"
                       class="inline-block text-blue-100 hover:text-white px-4 py-2 mr-4">
                        Enterprise
                    </a>
                </div>
                <div>
                    <a href="https://github.com/brefphp/bref" title="Bref on GitHub"
                       class="inline-block text-blue-200 hover:text-white">
                        <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>GitHub</title><path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path></svg>
                    </a>
                </div>
            </div>
        </nav>

        <section class="container mx-auto py-12 lg:py-24 xl:pt-32 px-4">
            <div class="md:flex">
                <div class="flex-1 clearfix">
                    <img src="/img/logo-white.svg" alt="bref logo" class="home-logo md:float-right md:mr-12">
                </div>
                <div class="flex-1">
                    <h1 class="md:mt-6 lg:mt-8 md:mb-3 lg:mb-6 text-3xl md:text-4xl lg:text-4xl lg:text-40px text-blue-200 font-bref font-light">
                        running PHP made simple
                    </h1>
                    <h2 class="text-lg md:text-xl lg:text-xl lg:text-22px font-bref text-white">
                        Everything you need to easily
                        <br class="hidden md:block">
                        deploy and run serverless PHP applications.
                    </h2>
                </div>
            </div>
        </section>

        <div class="w-full relative">
            <div class="absolute inset-x-0 bg-white" style="bottom: -4px; height: 8px"></div>
            <svg viewBox="0 0 1280 311" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M1214 177L1110.5 215.5L943.295 108.5L807.5 168.5L666 66.5L581 116L517 49.5L288.5 184L163.5 148L-34.5 264.5V311H1317V258.5L1214 177Z" fill="white"/>
                    <path d="M1214 177L1110.5 215.5L943.295 108.5L807.5 168.5L666 66.5L581 116L517 49.5L288.5 184L163.5 148L-34.5 264.5L163.5 161L275 194L230.5 281.5L311 189L517 61L628 215.5L600 132.5L666 77L943.295 295L833 184L943.295 116L1172 275L1121 227L1214 189L1298 248L1317 258.5L1214 177Z" fill="#DCEFFA"/>
                </g>
                <defs><clipPath id="clip0"><rect width="1280" height="311" fill="white"/></clipPath></defs>
            </svg>
        </div>

    </div>

    <section class="py-24 lg:pb-32">
        <div class="container mx-auto px-4">
            <div class="md:flex">
                <div class="flex-1 md:mr-6">
                    <h2 class="mb-12 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
                        A higher level stack
                    </h2>
                    <p class="mb-3">
                        Creating and running <strong>modern and scalable PHP applications</strong> can be simple. By using serverless technologies, like AWS Lambda, we can focus on development and worry less about servers.
                    </p>
                    <p>
                        Bref is an open source project that brings full support for PHP and its frameworks to AWS Lambda.
                    </p>
                </div>
                <div class="flex-1 text-center">
                    <div class="flex justify-center mb-6 mt-16">
                        <img src="/img/aws.svg" alt="AWS" class="w-16">
                    </div>
                    <h3 class="text-lg md:text-xl font-sans">Open source, production-ready <br> PHP runtimes for AWS Lambda</h3>
                </div>
            </div>

            <div class="md:flex mt-24 xl:mt-32">
                <div class="flex-1 order-last md:ml-6">
                    <h2 class="mb-12 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
                        for a better view of the cloud.
                    </h2>
                    <p class="mb-3">
                        Getting started with serverless can be overwhelming. Bref integrates with the open-source <a href="https://serverless.com/">Serverless Framework</a> for configuration and deployment.
                        We get the best of both world: <strong>powerful, yet simple</strong>.
                    </p>
                    <p>
                        On top of Serverless' documentation and ecosystem, Bref provides complete documentation and examples for PHP applications.
                    </p>
                </div>
                <div class="flex-1 text-center">
                    <div class="flex justify-center mb-6 mt-16">
                        <svg class="w-12" width="54" height="43" viewBox="0 0 54 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 33.9789H9.558L6.59665 42.9153H0V33.9789ZM0 16.9892H15.1875L12.2268 25.9256H0V16.9894V16.9892ZM0 0H20.8178L17.8563 8.9362H0V0ZM30.2377 0H54V8.9362H27.2767L30.2377 0ZM24.608 16.9892H54V25.9258H21.6468L24.608 16.9894V16.9892ZM18.978 33.9789H54V42.9153H16.0171L18.978 33.9789Z" fill="#FD5650"/>
                        </svg>
                    </div>
                    <h3 class="text-lg md:text-xl font-sans">Simple cloud orchestration <br> via the Serverless Framework</h3>
                </div>
            </div>

            <hr class="mt-16 lg:mt-32 mb-16">

            <div class="text-center">
                <a href="/docs/" class="bg-blue-800 hover:bg-blue-900 text-white hover:text-white py-4 px-8 rounded">Get started</a>
            </div>

        </div>
    </section>

    <section id="course" class="py-8 md:py-12 bg-blue-800 text-white text-sm md:text-base">
        <div class="container mx-auto max-w-4xl px-4 md:flex items-end lg:items-center">
            <div class="flex-grow md:pr-12">
                <h2 class="mb-6 text-2xl md:text-3xl font-bref text-blue-100">
                    Take the serverless course
                </h2>
                <p class="mb-4">
                    <a class="text-blue-200 hover:text-white underline" href="https://serverless-visually-explained.com/"
                       title="Learn how to create serverless applications on AWS">
                        Serverless Visually Explained</a>
                    is a hands-on course that teaches developers how to create serverless applications.
                </p>
                <p class="mb-4">
                    Written by Bref's creator, this interactive course focuses on use cases:
                    APIs, websites, workers, micro-services…
                </p>
                <p class="mb-4 md:mb-0">
                    Learn more at
                    <a class="text-blue-200 hover:text-white underline" href="https://serverless-visually-explained.com/"
                       title="Serverless course for developers">
                        serverless-visually-explained.com</a>.
                </p>
            </div>
            <a href="https://serverless-visually-explained.com/"
               title="Serverless course for developers"
               class="w-full max-w-xs mx-auto md:w-96 lg:w-full block rounded overflow-hidden shadow-lg">
                <img src="/img/serverless-visually-explained.png" alt="Serverless Visually Explained"></a>
        </div>
    </section>

    <section id="sponsors" class="py-24 lg:pb-32 bg-gray-100 text-center">
        <div class="container mx-auto px-4">
            <h2 class="mb-12 md:mb-16 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
                They sponsor the project
            </h2>
            <div class="mb-4 flex flex-wrap justify-around max-w-lg mx-auto">
                <a class="block self-center mx-6 -mt-2 mb-6" href="https://null.tc/" title="Serverless consulting company">
                    <img class="h-12" src="/img/logo-null.png" alt="Null">
                </a>
                <a class="block self-center mx-6 mb-6" href="https://geckoengage.com/" title="GeckoEngage">
                    <img class="h-8" src="/img/logo-gecko-engage.png" alt="GeckoEngage">
                </a>
            </div>
            <div class="mb-4 flex flex-wrap justify-around max-w-xl mx-auto">
                <a class="block self-center mx-6 mb-6" href="https://www.twilio.com/" title="Twilio">
                    <img class="h-10" src="/img/logo-twilio.svg" alt="Twilio">
                </a>
                <a class="block self-center mx-6 mb-6" href="https://www.jetbrains.com/" title="JetBrains - Makers of PhpStorm">
                    <img class="h-24" src="/img/logo-jetbrains.svg" alt="JetBrains">
                </a>
                <a class="block self-center -mx-4 mb-6" href="https://laravel.com/" title="Laravel">
                    <img class="h-20" src="/img/logo-laravel.svg" alt="Laravel">
                </a>
            </div>
            <div class="mb-4 flex flex-wrap justify-center">
                <a class="block self-center mx-6 mb-6" href="https://www.amezmo.com/" title="Amezmo - Cloud hosting and deployment for PHP">
                    <img class="w-24" src="/img/logo-amezmo.svg" alt="Amezmo">
                </a>
                <a class="block self-center mx-6 mb-6" href="https://www.web-id.fr/" title="Web-ID - Laravel web agency">
                    <img class="h-10" src="/img/logo-web-id.png" alt="Web-ID">
                </a>
                <a class="block self-center mx-6 mb-6" href="https://ecomail.cz/" title="Ecomail.cz">
                    <img class="w-24" src="/img/logo-ecomail.png" alt="Ecomail.cz">
                </a>
            </div>
            <p class="text-sm">
                <a href="https://github.com/sponsors/mnapoli">Join the sponsors</a>
            </p>
        </div>
    </section>

    {% include 'enterprise.twig' %}

    <section class="pt-24 pb-12 bg-gray-800 text-gray-400">
        <div class="container mx-auto px-4">
            <p class="font-light">
                Need
                <a href="https://training.bref.sh"
                        title="Join a serverless PHP workshop to get trained on using Bref and creating applications"
                        class="text-blue-400 hover:text-white">
                    training
                </a>
                or support? Get in touch with
                <a href="https://null.tc/" title="null is a consulting and web development company." class="text-blue-400">null</a>, the team that creates Bref.
            </p>
        </div>
    </section>

{% endblock %}
