{% extends 'layout.twig' %}

{% set metaTitle = 'Bref - Serverless PHP made simple' %}
{% set metaDescription = 'Bref is a framework to write and deploy serverless PHP applications on AWS Lambda.' %}

{% block body %}

    <div class="hero">

        <nav class="py-5 font-light">
            <div class="container max-w-screen-xl mx-auto px-4 flex items-center justify-between flex-wrap">
                <div class="flex items-center flex-shrink-0">
                    <a href="/docs/" title="Bref documentation for serverless PHP applications"
                       class="inline-block text-blue-100 hover:text-white px-2 sm:px-4 py-2 mr-2 sm:mr-4">
                        <span class="sm:hidden">Docs</span>
                        <span class="hidden sm:inline">Documentation</span>
                    </a>
                    <a href="/docs/news/" title="Bref news"
                       class="inline-block text-blue-100 hover:text-white px-2 sm:px-4 py-2 mr-2 sm:mr-4">
                        News
                    </a>
                    <a href="/#ecosystem" title="Bref support plans"
                       class="inline-block text-blue-100 hover:text-white px-2 sm:px-4 py-2">
                        Ecosystem
                    </a>
                </div>
                <div class="flex items-center">
                    <div class="hidden md:inline-block px-4 py-2 sm:mr-4">
                        <div id="search-container-home"></div>
                    </div>
                    <a href="https://github.com/brefphp/bref" title="Bref on GitHub"
                       class="inline-block text-blue-200 hover:text-white mr-3 sm:mr-6">
                        <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>GitHub</title><path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path></svg>
                    </a>
                    <a href="https://twitter.com/brefphp" title="Bref on Twitter"
                       class="inline-block text-blue-200 hover:text-white">
                        <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Twitter</title><path d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"/></svg>
                    </a>
                </div>
            </div>
        </nav>

        <section class="container max-w-screen-xl mx-auto py-12 lg:py-20 xl:pt-28 px-4">
            <div class="md:flex">
                <div class="flex-1 flow-root">
                    <img src="/img/logo-white.svg" alt="bref logo" class="home-logo md:float-right md:mr-12">
                </div>
                <div class="flex-1">
                    <h1 class="md:mt-6 lg:mt-10 md:mb-4 lg:mb-8 text-xl lg:text-2xl mb-4 font-bref text-blue-100">
                        Simple and scalable PHP applications
                        <br class="hidden md:block">
                        with serverless
                    </h1>
                    <div>
                        <a href="/docs/" class="text-base inline-block bg-white hover:bg-blue-100 hover:shadow-lg text-blue-900 py-3 px-6 rounded-md">Documentation</a>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex md:justify-center items-center space-x-4 md:space-x-8 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 51" class="h-6 md:h-8 opacity-50">
                    <path fill="currentColor" fill-rule="evenodd" d="M67.057 11.723V34.67h8.362v3.958H62.605V11.723h4.452zm24.078 11.415v-2.42h4.219v17.91h-4.22v-2.422c-.567.897-1.374 1.602-2.42 2.114-1.044.512-2.096.768-3.154.768-1.368 0-2.62-.25-3.755-.749a8.782 8.782 0 0 1-2.923-2.056 9.549 9.549 0 0 1-1.896-2.998 9.613 9.613 0 0 1-.678-3.613 9.67 9.67 0 0 1 .678-3.594 9.508 9.508 0 0 1 1.896-3.016 8.79 8.79 0 0 1 2.923-2.057c1.135-.5 2.387-.75 3.755-.75 1.058 0 2.11.257 3.155.77 1.045.512 1.852 1.217 2.42 2.113zm-.388 8.725a6.226 6.226 0 0 0 .388-2.19c0-.77-.13-1.5-.388-2.192a5.548 5.548 0 0 0-1.083-1.806 5.245 5.245 0 0 0-1.684-1.23c-.659-.307-1.388-.461-2.188-.461-.8 0-1.523.154-2.168.461-.645.308-1.2.718-1.664 1.23a5.276 5.276 0 0 0-1.064 1.806 6.489 6.489 0 0 0-.368 2.191c0 .769.122 1.5.368 2.19a5.27 5.27 0 0 0 1.064 1.807 5.29 5.29 0 0 0 1.664 1.23c.645.308 1.368.461 2.168.461s1.53-.153 2.188-.46a5.234 5.234 0 0 0 1.684-1.23 5.543 5.543 0 0 0 1.083-1.807zm7.936 6.764v-17.91h11.459v4.122h-7.24v13.788h-4.219zm26.75-15.489v-2.42h4.219v17.91h-4.22v-2.422c-.568.897-1.374 1.602-2.42 2.114-1.044.512-2.096.768-3.154.768-1.369 0-2.62-.25-3.755-.749a8.782 8.782 0 0 1-2.923-2.056 9.549 9.549 0 0 1-1.896-2.998 9.613 9.613 0 0 1-.678-3.613 9.65 9.65 0 0 1 .678-3.594 9.508 9.508 0 0 1 1.896-3.016 8.79 8.79 0 0 1 2.923-2.057c1.135-.5 2.386-.75 3.755-.75 1.058 0 2.11.257 3.155.77 1.045.512 1.851 1.217 2.42 2.113zm-.388 8.725a6.226 6.226 0 0 0 .387-2.19c0-.77-.13-1.5-.387-2.192a5.548 5.548 0 0 0-1.084-1.806 5.245 5.245 0 0 0-1.684-1.23c-.658-.307-1.387-.461-2.187-.461-.8 0-1.523.154-2.168.461-.645.308-1.2.718-1.664 1.23a5.276 5.276 0 0 0-1.065 1.806 6.489 6.489 0 0 0-.368 2.191c0 .769.122 1.5.368 2.19a5.27 5.27 0 0 0 1.065 1.807 5.29 5.29 0 0 0 1.664 1.23c.645.308 1.368.461 2.168.461s1.53-.153 2.187-.46a5.234 5.234 0 0 0 1.684-1.23 5.543 5.543 0 0 0 1.084-1.807zm21.523-11.146h4.274l-6.926 17.91h-5.302l-6.926-17.91h4.274l5.303 13.715 5.303-13.715zm13.476-.46c5.746 0 9.664 5.055 8.928 10.972h-13.998c0 1.545 1.571 4.532 5.302 4.532 3.21 0 5.36-2.803 5.362-2.805l2.85 2.19c-2.548 2.702-4.635 3.943-7.903 3.943-5.84 0-9.797-3.668-9.797-9.416 0-5.2 4.09-9.416 9.256-9.416zm-5.059 7.859h10.112c-.031-.345-.579-4.532-5.086-4.532-4.507 0-4.993 4.187-5.026 4.532zm16.735 10.511V11.723h4.22v26.904h-4.22zM49.764 11.513a.8.8 0 0 1 .028.208v10.924a.796.796 0 0 1-.403.691l-9.234 5.279v10.463a.796.796 0 0 1-.403.69L20.478 50.787c-.044.026-.093.041-.14.058-.019.006-.036.017-.054.022a.812.812 0 0 1-.412 0c-.022-.006-.042-.018-.063-.026a.718.718 0 0 1-.132-.054L.402 39.77A.796.796 0 0 1 0 39.078V6.306a.8.8 0 0 1 .028-.208c.006-.024.02-.045.028-.067.016-.042.03-.085.052-.124.015-.026.037-.047.054-.07.024-.032.044-.066.072-.094.023-.023.053-.04.079-.06.029-.022.055-.048.088-.067l.001-.001L10.04.106a.81.81 0 0 1 .8 0l9.638 5.509h.002c.032.02.058.046.088.068.026.02.055.037.078.06.028.028.048.062.072.093.018.024.04.045.055.071.022.039.036.082.052.124.008.022.021.043.028.067a.8.8 0 0 1 .027.208v20.469l8.032-4.591V11.721a.8.8 0 0 1 .027-.208c.007-.024.02-.044.029-.067.015-.042.029-.085.051-.124.015-.026.037-.047.055-.07.024-.032.044-.066.072-.093.023-.023.052-.04.078-.06.03-.023.056-.05.089-.068v-.001l9.638-5.509a.808.808 0 0 1 .801 0l9.637 5.509h.001c.034.02.06.046.09.068.025.02.055.038.078.06.028.028.048.062.071.093.018.024.04.045.055.071.023.039.036.082.052.124.009.023.022.043.028.067zm-1.578 10.671V13.1l-3.373 1.928-4.658 2.663v9.084l8.03-4.591zm-9.637 16.433v-9.09l-4.584 2.598L20.88 39.54v9.175l17.669-10.1zM1.606 7.685v30.932l17.668 10.1v-9.174l-9.23-5.186-.002-.003-.004-.001c-.032-.018-.057-.044-.086-.066-.026-.02-.054-.036-.077-.058l-.002-.003c-.026-.025-.044-.056-.066-.084-.02-.026-.044-.049-.06-.077l-.001-.003c-.018-.03-.029-.066-.042-.1-.013-.029-.03-.057-.038-.089v-.001c-.011-.038-.012-.078-.017-.117-.003-.03-.012-.059-.012-.09v-21.39L4.98 9.613 1.606 7.685zm8.834-5.968-8.027 4.59 8.027 4.588 8.028-4.589-8.028-4.589zm4.176 28.638 4.658-2.662V7.685l-3.372 1.928-4.659 2.663v20.007l3.373-1.928zM39.352 7.133l-8.028 4.588 8.028 4.589 8.027-4.589-8.027-4.588zm-.803 10.558-4.659-2.663-3.372-1.928v9.084l4.658 2.663 3.373 1.928V17.69zm-18.473 20.47 11.775-6.674 5.886-3.336-8.022-4.586-9.237 5.28-8.418 4.812 8.016 4.504z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 289.333 122.833" class="h-12 md:h-16 opacity-50">
                    <title>Symfony</title>
                    <circle fill="currentColor" cx="58.657" cy="58.07" r="28.072"></circle>
                    <path fill="#2579aa" d="M70.93 40.385c-2.851.1-5.342 1.672-7.193 3.846-2.053 2.384-3.417 5.213-4.401 8.099-1.759-1.442-3.116-3.308-5.938-4.122-2.183-.627-4.473-.369-6.58 1.201-.999.746-1.686 1.873-2.013 2.932-.848 2.754.889 5.205 1.679 6.086l1.725 1.846c.356.363 1.211 1.309.794 2.664-.453 1.475-2.229 2.428-4.052 1.867-.814-.252-1.984-.857-1.721-1.709.108-.35.358-.613.493-.912.123-.26.181-.454.218-.568.333-1.088-.122-2.502-1.286-2.861-1.087-.332-2.197-.068-2.628 1.329-.49 1.591.271 4.472 4.344 5.729 4.772 1.467 8.809-1.133 9.381-4.521.361-2.122-.599-3.7-2.354-5.729l-1.43-1.581c-.867-.867-1.164-2.342-.268-3.475.757-.957 1.834-1.365 3.601-.886 2.577.698 3.726 2.487 5.642 3.93-.791 2.595-1.309 5.2-1.776 7.538l-.287 1.74c-1.371 7.186-2.416 11.131-5.134 13.396-.547.391-1.331.973-2.51 1.014-.619.02-.818-.406-.828-.592-.014-.434.353-.633.596-.828.363-.199.912-.527.875-1.578-.041-1.246-1.071-2.324-2.559-2.273-1.117.037-2.816 1.086-2.752 3.01.066 1.984 1.916 3.473 4.706 3.377 1.492-.049 4.822-.656 8.103-4.557 3.819-4.473 4.888-9.6 5.692-13.352l.896-4.953c.499.059 1.031.1 1.611.113 4.757.102 7.136-2.363 7.173-4.155.023-1.085-.712-2.152-1.742-2.128-.736.021-1.662.511-1.884 1.529-.217 1 1.514 1.902.161 2.779-.961.623-2.684 1.061-5.11.705l.442-2.439c.899-4.624 2.011-10.312 6.224-10.449.307-.016 1.431.014 1.457.756.007.248-.054.312-.344.88-.297.442-.408.819-.395 1.253.042 1.18.939 1.956 2.238 1.91 1.737-.057 2.237-1.748 2.209-2.618-.072-2.045-2.226-3.335-5.075-3.243z"></path>
                    <path fill="currentColor" d="M200.791 50.172c6.474 0 10.813 4.677 10.813 11.147 0 6.097-4.424 11.146-10.813 11.146-6.428 0-10.852-5.049-10.852-11.146 0-6.47 4.338-11.147 10.852-11.147zm0 19.125c4.593 0 6.637-4.176 6.637-7.978 0-4.048-2.463-7.972-6.637-7.972-4.216 0-6.68 3.924-6.68 7.972 0 3.802 2.047 7.978 6.68 7.978zM189.401 52.154v-1.481h-5.638v-2.024c0-2.881.419-5.055 3.798-5.055.062 0 .128.006.193.009.007 0 .005-.011.013-.011.938.068 1.72-.695 1.772-1.633l.068-1.286c-.793-.126-1.63-.25-2.63-.25-5.803 0-7.138 3.382-7.138 8.56v1.69h-5.015v1.653a1.78 1.78 0 001.758 1.518c.004 0 .009.004.014.004h3.243v18.119H182.006c.9 0 1.634-.678 1.756-1.541V53.848h3.926a1.78 1.78 0 001.713-1.694zM137.125 50.673c-.006 0-.011.005-.021.005-.826 0-1.627.568-1.977 1.337l-5.399 16.278h-.084l-5.281-16.27c-.346-.773-1.15-1.346-1.982-1.346-.01 0-.013-.005-.021-.005h-2.737l7.223 19.874c.252.711.754 1.797.754 2.254 0 .42-1.17 5.26-4.679 5.26-.086 0-.174-.01-.259-.016-.895-.049-1.571.576-1.72 1.539l-.107 1.359c.71.125 1.422.293 2.674.293 5.176 0 6.721-4.721 8.184-8.811l7.847-21.753h-2.415zM112.177 54.998c-3.24-1.658-6.787-2.785-6.849-6.121.01-3.543 3.266-4.474 5.774-4.471.012-.002.022-.002.028-.002 1.09 0 1.961.108 2.812.295.011 0 .009-.014.022-.014.9.066 1.655-.637 1.76-1.523l.072-1.287c-1.645-.408-3.364-.617-4.86-.617-5.455.034-9.506 2.779-9.519 8.018.006 4.58 3.092 6.355 6.414 7.963 3.256 1.566 6.821 2.858 6.852 6.639-.018 3.943-3.824 5.396-6.447 5.402-1.534-.006-3.199-.387-4.603-.83-.879-.145-1.6.631-1.715 1.658l-.118 1.146c1.929.623 3.906 1.168 5.895 1.168h.022c6.112-.045 10.862-2.482 10.881-8.811-.007-4.882-3.116-6.933-6.421-8.613zM171.534 71.967h.005c.847 0 1.554-.596 1.731-1.389V58.314c0-4.635-1.958-8.143-7.389-8.143-1.92 0-5.134 1.088-6.596 4.135-1.126-2.881-3.59-4.135-6.051-4.135-3.133 0-5.263 1.127-6.765 3.592h-.084v-1.324a1.78 1.78 0 00-1.777-1.762c-.009 0-.013-.005-.019-.005h-1.877v21.294h2.129a1.78 1.78 0 001.78-1.781c0-.027.009-.037.018-.055v-8.895c0-3.965 1.585-7.889 5.592-7.889 3.171 0 3.802 3.297 3.802 5.928v12.691h2.159c.93 0 1.679-.715 1.762-1.623v-9.107c0-3.965 1.588-7.889 5.595-7.889 3.173 0 3.8 3.297 3.8 5.928v12.691h2.185zM232.182 71.967h.005c.957 0 1.728-.756 1.773-1.703V59.316c0-5.719-2.466-9.145-7.977-9.145-2.964 0-5.801 1.463-6.973 3.886h-.082v-1.591c0-.002-.004-.002-.004-.006 0-.987-.799-1.783-1.779-1.783-.011 0-.013-.005-.02-.005h-1.998v21.294h2.161c.934 0 1.691-.727 1.763-1.643v-8.211c0-5.176 2.006-8.766 6.473-8.766 3.427.207 4.507 2.627 4.507 7.597v11.022h2.151zM253.31 50.673c-.01 0-.014.005-.022.005-.827 0-1.629.568-1.978 1.337l-5.397 16.278h-.088l-5.282-16.27c-.346-.773-1.15-1.346-1.98-1.346-.008 0-.013-.005-.02-.005h-2.737l7.224 19.874c.25.711.755 1.797.755 2.254 0 .42-1.171 5.26-4.681 5.26-.085 0-.171-.01-.259-.016-.895-.049-1.568.576-1.722 1.539l-.105 1.359c.709.125 1.422.293 2.675.293 5.176 0 6.72-4.721 8.184-8.811l7.849-21.753h-2.416z"></path>
                </svg>
            </div>
        </section>

        <div class="w-full relative">
            <div class="absolute inset-x-0 bg-white" style="bottom: -4px; height: 8px"></div>
            <svg viewBox="0 0 1280 311" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M1214 177L1110.5 215.5L943.295 108.5L807.5 168.5L666 66.5L581 116L517 49.5L288.5 184L163.5 148L-34.5 264.5V311H1317V258.5L1214 177Z" fill="white"/>
                    <path d="M1214 177L1110.5 215.5L943.295 108.5L807.5 168.5L666 66.5L581 116L517 49.5L288.5 184L163.5 148L-34.5 264.5L163.5 161L275 194L230.5 281.5L311 189L517 61L628 215.5L600 132.5L666 77L943.295 295L833 184L943.295 116L1172 275L1121 227L1214 189L1298 248L1317 258.5L1214 177Z" fill="#DCEFFA"/>
                </g>
                <defs><clipPath id="clip0"><rect width="1280" height="311" fill="white"/></clipPath></defs>
            </svg>
        </div>

    </div>

    <section class="py-24 lg:pb-32">
        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="md:flex">
                <div class="flex-1 md:mr-6">
                    <h2 class="mb-12 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
                        A higher level stack
                    </h2>
                    <p class="mb-3">
                        Creating and running <strong>modern and scalable PHP applications</strong> should be simpler. By using serverless technologies, like AWS Lambda, we can focus on development and worry less about servers.
                    </p>
                    <p>
                        Bref is an open source project that brings full support for PHP and its frameworks to AWS Lambda.
                    </p>
                </div>
                <div class="flex-1 text-center">
                    <div class="flex justify-center mb-6 mt-16">
                        <img src="/img/aws.svg" alt="AWS" class="w-16">
                    </div>
                    <h3 class="text-lg md:text-xl font-sans">Open source, battle-tested <br> PHP runtimes for AWS Lambda</h3>
                </div>
            </div>

            <div class="md:flex mt-24 xl:mt-32">
                <div class="flex-1 order-last md:ml-6">
                    <h2 class="mb-12 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
                        built on top of the cloud
                    </h2>
                    <p class="mb-3">
                        Getting started with serverless can be overwhelming. Bref integrates with the open-source <a href="https://www.serverless.com/framework">Serverless Framework</a> for configuration and deployment.
                        We get the best of both world: <strong>powerful, yet simple</strong>.
                    </p>
                    <p>
                        On top of Serverless' documentation and ecosystem, Bref provides complete documentation and examples for PHP applications.
                    </p>
                </div>
                <div class="flex-1 text-center">
                    <div class="flex justify-center mb-6 mt-16">
                        <svg class="w-12" width="54" height="43" viewBox="0 0 54 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 33.9789H9.558L6.59665 42.9153H0V33.9789ZM0 16.9892H15.1875L12.2268 25.9256H0V16.9894V16.9892ZM0 0H20.8178L17.8563 8.9362H0V0ZM30.2377 0H54V8.9362H27.2767L30.2377 0ZM24.608 16.9892H54V25.9258H21.6468L24.608 16.9894V16.9892ZM18.978 33.9789H54V42.9153H16.0171L18.978 33.9789Z" fill="#FD5650"/>
                        </svg>
                    </div>
                    <h3 class="text-lg md:text-xl font-sans">Simple cloud orchestration <br> via the Serverless Framework</h3>
                </div>
            </div>

            <hr class="mt-16 lg:mt-32 mb-16">

            <div class="text-center">
                <a href="/docs/" class="bg-blue-800 hover:bg-blue-900 text-white hover:text-white py-4 px-8 rounded">Get started</a>
            </div>

        </div>
    </section>

    <section id="course" class="py-12 bg-blue-800 text-white">
        <div class="container mx-auto max-w-2xl lg:max-w-4xl px-4">
            <h2 class="mb-12 text-2xl md:text-3xl xl:text-4xl font-bref text-blue-100">
                <a href="/docs/news/02-bref-2.0.html" class="text-blue-100 hover:text-blue-100">
                    <span class="underline">10 billion</span> requests and jobs served using Bref every month
                </a>
            </h2>
            <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                <div class="pb-10 lg:pb-0 lg:pr-8">
                    <figure class="flex flex-auto flex-col justify-between">
                        <blockquote class="lg:leading-8 text-white">
                            <p>“Bref is excellent. We've been running a Laravel/PHP app with it since 2020 and it's currently handing over 160 million requests per month without a hiccup.”</p>
                        </blockquote>
                        <figcaption class="mt-6">
                            <div class="font-semibold text-white">Neil Morgan</div>
                            <div class="mt-1 text-gray-400">
                                <a href="https://www.bcast.fm/" class="text-current hover:text-white">bcast.fm</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="border-t border-white/10 pt-10 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0">
                    <figure class="flex flex-auto flex-col justify-between">
                        <blockquote class="lg:leading-8 text-white">
                            <p>“Bref has been a boon for running our customer's applications. We've had a Laravel API on Bref for the last 12 months serve over 25M requests with an average response time of 50ms.”</p>
                        </blockquote>
                        <figcaption class="mt-6">
                            <div class="font-semibold text-white">Paul Giberson</div>
                            <div class="mt-1 text-gray-400">
                                Chief Software Architect,
                                <a href="https://twitter.com/HalasLabs/status/1638650910971932672" class="text-current hover:text-white">Halas Labs</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors" class="py-24 lg:pb-32 bg-gray-100 text-center">
        <div class="container max-w-4xl mx-auto px-4">
            <h2 class="mb-16 md:mb-20 text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bref text-gray-800">
                They sponsor the open-source project
            </h2>
            <div class="md:flex mb-10 border-t border-gray-300 pt-8">
                <div class="mb-6 w-56 text-left">
                    <h3 class="font-bold text-gray-800">Premium sponsors</h3>
                    <p class="mt-6 row-span-full text-xs text-gray-600">
                        * one-time sponsor
                    </p>
                </div>
                <div class="flex-grow grid grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-16">
                    <a class="flex justify-center items-center" href="https://aws.amazon.com" title="AWS">
                        <img class="h-12" src="/img/aws.svg" alt="AWS">
                        <span class="self-start text-black">*</span>
                    </a>
                    <a class="flex justify-center items-start" href="https://craftcms.com/?ref=bref.sh" title="Craft CMS">
                        <img class="w-40" src="/img/logo-craft-cms.png" alt="Craft CMS">
                    </a>
                    <a class="flex justify-center" href="https://tideways.com/?ref=bref" title="Tideways">
                        <img class="w-32" src="/img/logo-tideways.svg" alt="Tideways">
                    </a>
                    <a class="flex justify-center items-center" href="https://www.mybuilder.com/?ref=bref.sh" title="MyBuilder">
                        <img class="h-7" src="/img/logo-mybuilder.svg" alt="MyBuilder">
                    </a>
                    <a class="flex justify-center items-center" href="https://www.shippypro.com/?ref=bref.sh" title="ShippyPro">
                        <img class="w-36" src="/img/logo-shippypro.png" alt="ShippyPro">
                    </a>
                    <a class="-mt-3 flex justify-center" href="https://null.tc/?ref=bref" title="Serverless consulting company">
                        <img class="h-12" src="/img/logo-null.png" alt="Null">
                    </a>
                </div>
            </div>
            <div class="md:flex mb-12 border-t border-gray-300 pt-6">
                <h3 class="mb-6 block w-56 font-bold text-gray-800 text-left">Gold sponsors</h3>
                <div class="flex-grow grid grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-12">
                    <a class="flex justify-center -mt-2 -mb-4" href="https://www.jetbrains.com/?ref=bref.sh" title="JetBrains - Makers of PhpStorm">
                        <img class="h-20" src="/img/logo-jetbrains.svg" alt="JetBrains">
                    </a>
                    <a class="flex justify-center items-center" href="https://laravel.com/?ref=bref.sh" title="Laravel">
                        <img class="w-36" src="/img/logo-laravel.svg" alt="Laravel">
                    </a>
                    <a class="flex justify-center items-center" href="https://depot.dev/?ref=bref.sh" title="Depot">
                        <img class="h-10" src="/img/logo-depot.png" alt="Depot">
                    </a>
                    <a class="flex justify-center items-center" href="https://secumailer.com/?ref=bref.sh" title="SecuMailer">
                        <img class="w-28" src="/img/logo-secumailer.svg" alt="SecuMailer">
                    </a>
                    <a class="flex justify-center items-center" href="https://ecomail.cz/?ref=bref.sh" title="Ecomail.cz">
                        <img class="w-24" src="/img/logo-ecomail.png" alt="Ecomail.cz">
                    </a>
                </div>
            </div>
            <p class="text-sm">
                <a href="https://github.com/sponsors/mnapoli">Join the sponsors ❤️</a>
            </p>
        </div>
    </section>

    {% include 'enterprise.twig' %}

    {% include 'footer.twig' %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script>
        docsearch({
            apiKey: '0d252e6edd70998021bc0044444c42c4',
            appId: '7J23TEKSTT',
            indexName: 'bref',
            container: '#search-container-home',
            debug: false, // Set debug to true if you want to inspect the dropdown
        });
    </script>

{% endblock %}
