{% extends 'layout.twig' %}

{% set metaTitle = 'Bref - Serverless PHP applications made simple' %}
{% set metaDescription = 'Bref is a framework to write and deploy serverless PHP applications on AWS Lambda.' %}

{% block body %}

    <nav class="bg-primary-800 p-6 font-light fixed sticky top-0 z-30">
        <div class="container mx-auto flex items-center justify-between flex-wrap">
            <div class="flex items-center flex-shrink-0 text-lg">
                <a href="/docs/" title="Bref documentation for serverless PHP applications"
                   class="inline-block text-gray-400 hover:text-white mr-4">
                    Documentation
                </a>
            </div>
            <div>
                <a href="https://github.com/brefphp/bref" title="Bref on GitHub"
                   class="inline-block text-gray-500 hover:text-white">
                    <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>GitHub</title><path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path></svg>
                </a>
            </div>
        </div>
    </nav>

    <section class="text-center bg-primary-800 text-white">
        <div class="container mx-auto py-10 lg:py-18 xl:py-24 px-4">
            <h1 class="text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-bref font-thin">bref</h1>

            <h2 class="mb-10 lg:mb-18 xl:mb-20 text-3xl md:text-4xl lg:text-4xl xl:text-5xl text-primary-400 font-bref font-hairline">
                running PHP made simple
            </h2>

            <h2 class="font-normal font-sans text-lg md:text-xl lg:text-xl xl:text-2xl font-bref text-primary-100">
                Everything you need to easily <br>
                deploy and run serverless PHP applications.
            </h2>

        </div>
    </section>

    <div class="w-full">
        <svg viewBox="0 0 1280 304" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-44 0H1310V254L1211.5 180.5L1113 220L941.5 113.5L809.5 171L667 69L580 121.5L516.5 53L290.5 189.5L166 153L-44 269.5V0Z" fill="#3D4852"/>
            <path d="M1214 177L1110.5 215.5L943.295 108.5L807.5 168.5L666 66.5L581 116L517 49.5L288.5 184L163.5 148L-34.5 264.5L163.5 168.5L259 194L230.5 281.5L325.5 194L517 80.5L618 233.5L605 132.5L666 89.5L931 304L855 194L955.5 132.5L1161 288.5L1127 225.5L1214 201.5L1298 248L1317 258.5L1214 177Z" fill="#B8C2CC"/>
        </svg>
    </div>

    <section class="py-48 pt-24">
        <div class="container mx-auto px-4">
            <div class="flex">
                <div class="flex-1 mx-6">
                    <h2 class="mb-12 text-3xl md:text-4xl lg:text-5xl font-bref text-primary-700">
                        A higher level stack
                    </h2>
                    <p class="mb-3">
                        Creating and running <strong>modern and scalable PHP applications</strong> can be simple. By using serverless technologies, like AWS Lambda, we can focus on development and worry less about servers.
                    </p>
                    <p>
                        Bref is an open source project that brings full support for PHP and its frameworks on AWS Lambda.
                    </p>
                </div>
                <div class="flex-1 mx-6 text-center">
                    <div class="flex justify-center mb-6 mt-16">
                        <img src="/img/aws.svg" alt="AWS" class="w-16">
                    </div>
                    <h3 class="text-xl">Mature, production-ready <br> PHP runtimes for AWS Lambda</h3>
                </div>
            </div>

            <div class="flex mt-24 xl:mt-32">
                <div class="flex-1 mx-6 text-center">
                    <div class="flex justify-center mb-6 mt-16">
                        <svg class="w-12" width="54" height="43" viewBox="0 0 54 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 33.9789H9.558L6.59665 42.9153H0V33.9789ZM0 16.9892H15.1875L12.2268 25.9256H0V16.9894V16.9892ZM0 0H20.8178L17.8563 8.9362H0V0ZM30.2377 0H54V8.9362H27.2767L30.2377 0ZM24.608 16.9892H54V25.9258H21.6468L24.608 16.9894V16.9892ZM18.978 33.9789H54V42.9153H16.0171L18.978 33.9789Z" fill="#FD5650"/>
                        </svg>
                    </div>
                    <h3 class="text-xl">Simple cloud orchestration <br> via the Serverless framework</h3>
                </div>
                <div class="flex-1 mx-6">
                    <h2 class="mb-12 text-3xl md:text-4xl lg:text-5xl font-bref text-primary-700">
                        for a better view of the cloud.
                    </h2>
                    <p class="mb-3">
                        While serverless is very interesting, getting started can be overwhelming.
                    </p>
                    <p class="mb-3">
                        Bref integrates with the Serverless framework for configuration and deployment.
                        We get the best of both world: <strong>powerful, yet simple</strong>.
                    </p>
                    <p>
                        On top of Serverless' documentation and ecosystem, Bref provides complete documentation and examples for PHP applications.
                    </p>
                </div>
            </div>

            <div class="pt-40 text-center">
                <a href="/docs/" class="bg-blue-400 hover:bg-blue-500 text-white text-lg py-3 px-6 rounded">Learn more</a>
            </div>

        </div>
    </section>

    <section class="py-32 bg-primary-800 text-white relative overflow-hidden">
        <div class="container mx-auto px-4 text-center">
            <a href="/docs/" class="bg-gray-400 hover:bg-gray-500 text-gray-800 text-lg py-3 px-6 rounded">Get started</a>
        </div>
    </section>

    <section class="py-64">
        <div class="container mx-auto px-4">
            <p class="font-bref text-2xl text-primary-700 text-center">
                Bref is a project supported by the <a href="https://null.tc/" title="null is a consulting and web development company.">null</a> company.
            </p>
        </div>
    </section>

    <section class="py-24 bg-primary-800 text-gray-500">
        <div class="container mx-auto px-4">
            <p class="font-bref text-lg text-center">
                Bref is a project supported by the
                <a href="https://null.tc/" title="null is a consulting and web development company." class="text-blue-500">null</a>
                company.
            </p>
        </div>
    </section>

{% endblock %}
