{% extends 'layout.twig' %}

{% set metaTitle = 'Bref - Serverless PHP applications made simple' %}
{% set metaDescription = 'Bref is a framework to write and deploy serverless PHP applications on AWS Lambda.' %}

{% block body %}
<body class="font-sans home">
    <section class="min-h-screen border-t-4 border-grey-dark flex items-center">
        <div class="container mx-auto py-10 lg:py-24 px-4 lg:px-32">

            <h1 class="mb-8 lg:mb-12 text-6xl md:text-7xl lg:text-8xl text-grey-darkest leading-tight">Running PHP <br> made simple.</h1>

            <h2 class="font-normal text-xl md:text-2xl lg:text-3xl">Bref provides the tools and documentation to easily deploy and run serverless PHP applications.</h2>

            <div class="mt-16 md:flex justify-center">
                <a class="block text-center px-10 py-4 border-2 border-grey-darkest rounded-lg bg-grey-darkest text-white hover:text-white hover:border-black hover:bg-black mb-4 md:mr-8" href="/docs/" title="Bref documentation for serverless PHP applications">Learn more</a>
                <a class="block text-center px-10 py-4 border-2 border-grey-darkest rounded-lg bg-white text-grey-darkest hover:text-white hover:border-black hover:bg-black mb-4" href="https://github.com/brefphp/bref" title="Bref on GitHub">GitHub</a>
            </div>

            <div class="mt-20 md:flex justify-center">
                <p class="font-normal md:text-lg text-grey">Bref is a project supported by the <a href="https://null.tc/" title="null is a consulting and web development company.">null</a> company.</p>
            </div>

        </div>
    </section>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15584647-20"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-15584647-20');
    </script>
</body>
{% endblock %}
