{% extends 'layout.twig' %}

{% set metaTitle = 'Bref - Serverless PHP applications made simple' %}
{% set metaDescription = 'Bref is a framework to write and deploy serverless PHP applications on AWS Lambda.' %}

{% block body %}

    <section class="text-center">
        <div class="container mx-auto py-10 lg:py-24 xl:py-32 px-4">
            <img src="/logo.svg" alt="Bref" class="h-48">
            <h1 class="text-center mb-12 lg:mb-24 text-3xl md:text-4xl lg:text-5xl text-grey-darkest font-bref font-thin">running PHP made simple</h1>

            <h2 class="font-normal font-sans text-lg md:text-xl lg:text-xl">Bref provides the tools and documentation <br> to easily deploy and run serverless PHP applications.</h2>

            <div class="mt-8 md:flex justify-center">
                <a class="block text-center px-10 py-4 border-2 border-grey-darkest rounded-lg bg-grey-darkest text-white hover:text-white hover:border-black hover:bg-black mb-4 md:mr-8" href="/docs/" title="Bref documentation for serverless PHP applications">Learn more</a>
                <a class="block text-center px-10 py-4 border-2 border-grey-darkest rounded-lg bg-white text-grey-darkest hover:text-white hover:border-black hover:bg-black mb-4" href="https://github.com/brefphp/bref" title="Bref on GitHub">GitHub</a>
            </div>

            <div class="mt-20 md:flex justify-center">
                <p class="font-normal md:text-lg text-grey">Bref is a project supported by the <a href="https://null.tc/" title="null is a consulting and web development company.">null</a> company.</p>
            </div>

        </div>
    </section>

{% endblock %}
