/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

a {
    color: var(--color-primary-dark);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary-darker);
}

/* Cancel highlight.js defaults */
.hljs {
    background: transparent !important;
    padding: 0 !important;
    color: inherit !important;
}

body.home {
    /* See http://www.heropatterns.com/ */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23f1f5f8' fill-opacity='0.49' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* Style documentation articles */
article p {
    margin-top: 16px;
    line-height: 24px;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
    position: relative;
}
article h1 {
    margin-bottom: 40px;
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    article h1{
        max-width: calc(100% - 60px);
    }
}
@media only screen and (min-width: 992px) {
    article h1{
        max-width: calc(100% - 130px);
    }
}
article h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-right: 64px;
}
article h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
}
.title-anchor {
    position: absolute;
    margin-left: -30px;
    color: var(--color-blue-lighter);
    margin-top: 1px;
    right: 0;
    left: 0;
    opacity: 0.5;
}
a.title-anchor:hover {
    text-decoration: none;
    opacity: 0.75;
}
/*
 * Introduces a little of vertical margin so that the title isn't
 * hidden behind the menu
 */
article [id]:before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}
article ul, article ol {
    margin-top: 8px;
    margin-left: 16px;
    padding: 0 0 0 16px;
}
article ul li, article ol li {
    margin-top: 4px;
    line-height: 24px;
}
article code {
    display: inline-block;
    font-family: var(--font-mono);
    background-color: var(--color-grey-lightest);
    font-size: .9rem;
    line-height: 1.5;
    padding: 0 .3rem;
}
article pre {
    padding: 1em;
    margin: 1em 0;
    background-color: var(--color-grey-lightest);
    word-break: normal;
    overflow: auto;
}
article pre code {
    display: block;
    padding: 0;
    font-size: .85rem;
}
article blockquote {
    border-left-width: 4px;
    padding: 1rem;
    color: var(--color-blue-dark);
    border-color: var(--color-blue);
    background-color: var(--color-blue-lightest);
    margin-top: 16px;
}
article blockquote a {
    text-decoration: underline;
    text-decoration-color: var(--color-blue-light);
}
article blockquote p:first-child {
    margin-top: 0;
}

@media (min-width: 1360px) {
    #in-page-menu {
        display: block;
    }
}

.maturity-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 9999px;
    vertical-align: text-top;
}
