@tailwind base;

body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-title;
}

a {
    color: theme('colors.blue.700');
}
a:hover {
    color: theme('colors.blue.800');
}

ul {
    list-style-type: disc;
    padding-left: theme('padding.4');
}
ol {
    list-style-type: decimal;
    padding-left: theme('padding.4');
}

/* Home */
.hero {
    background: linear-gradient(123.19deg, #266488 3.98%, #258ECB 94.36%);
}
.home-logo {
    width: 140px;
}
@media only screen and (min-width: 768px) {
    .home-logo {
        width: 230px;
    }
}
@media only screen and (min-width: 1024px) {
    .home-logo {
        width: 280px;
    }
}

/* Cancel highlight.js defaults */
.hljs {
    background: transparent !important;
    padding: 0 !important;
    color: inherit !important;
}

/* Style documentation articles */
article p {
    margin-top: 16px;
    line-height: 24px;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
    position: relative;
}
article h1 {
    margin-bottom: 40px;
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    article h1{
        max-width: calc(100% - 60px);
    }
}
@media only screen and (min-width: 992px) {
    article h1{
        max-width: calc(100% - 130px);
    }
}
article h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-right: 64px;
}
article h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
}
.title-anchor {
    @apply text-blue-200;
    position: absolute;
    margin-left: -30px;
    margin-top: 1px;
    right: 0;
    left: 0;
    opacity: 0.5;
}
a.title-anchor:hover {
    text-decoration: none;
    opacity: 0.75;
}
/*
 * Introduces a little of vertical margin so that the title isn't
 * hidden behind the menu
 */
article [id]:before {
    display: block;
    content: " ";
    margin-top: -20px;
    height: 20px;
    visibility: hidden;
}
article ul, article ol {
    margin-top: 8px;
    margin-left: 16px;
    padding: 0 0 0 16px;
}
article ul li, article ol li {
    margin-top: 4px;
    line-height: 24px;
}
article code {
    @apply font-mono bg-gray-100;
    display: inline-block;
    font-size: .9rem;
    line-height: 1.5;
    padding: 0 .3rem;
}
article pre {
    @apply bg-gray-100;
    padding: 1em;
    margin: 1em 0;
    word-break: normal;
    overflow: auto;
}
article pre code {
    display: block;
    padding: 0;
    font-size: .85rem;
}
article blockquote {
    @apply text-blue-600 bg-blue-100 border-blue-500;
    border-left-width: 4px;
    padding: 1rem;
    margin-top: 16px;
}
article blockquote a {
    @apply underline;
}
article blockquote p:first-child {
    margin-top: 0;
}
article table {
    @apply w-full my-8 border-b border-gray-200;
}
article table th {
    @apply text-sm font-bold text-gray-700 p-2 bg-gray-100;
}
article table td {
    @apply p-2 border-t border-gray-200;
}

@media (min-width: 1360px) {
    #in-page-menu {
        display: block;
    }
}

.maturity-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 9999px;
    vertical-align: text-top;
}


@tailwind components;

@tailwind utilities;
