<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bref</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:200,400,600,700" rel="stylesheet">
    <link href="/output.css" rel="stylesheet">
    <style>
        .lg\:w-400 {
            width: 400px;
        }
        .lg\:ml-400 {
            margin-left: 400px;
        }
        .lg\:max-w-700 {
            max-width: 700px;
        }
        article p {
            margin-top: 16px;
            line-height: 24px;
        }
        article h1 {
            margin-bottom: 40px;
        }
        article h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            margin-top: 60px;
            margin-bottom: 30px;
            padding-right: 64px;
        }
        article h3 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            margin-top: 40px;
            margin-bottom: 16px;
        }
        article ul, article ol {
            margin-top: 8px;
            margin-left: 16px;
            padding: 0 0 0 16px;
        }
        article ul li, article ol li {
            margin-top: 4px;
            line-height: 24px;
        }
        article code {
            display: inline-block;
            font-family: var(--font-mono);
            background-color: var(--color-grey-lightest);
            font-size: .9rem;
            line-height: 1.5;
            padding: 0 .3rem;
        }
        article pre {
            padding: 1em;
            margin: 1em 0;
            background-color: var(--color-grey-lightest);
            word-break: normal;
            overflow: auto;
        }
        article pre code {
            display: block;
            padding: 0;
            font-size: .85rem;
        }
        article blockquote {
            border-left-width: 4px;
            padding: 1rem;
            color: var(--color-blue-dark);
            border-color: var(--color-blue);
            background-color: var(--color-blue-lightest);
            margin-top: 16px;
        }
        article blockquote a {
            text-decoration: underline;
            text-decoration-color: var(--color-blue-light);
        }
        article blockquote p:first-child {
            margin-top: 0;
        }
    </style>
</head>
<body class="font-sans">
    <div class="flex h-full">
        <div class="fixed flex-no-shrink lg:w-400 lg:flex lg:flex-col z-30 h-screen w-full hidden text-grey-darkest bg-grey-lightest px-8 py-16 overflow-auto">
            <nav>
                <h3 class="mb-4 text-grey uppercase font-semibold text-sm lg:text-xs tracking-wide">Getting Started</h3>
                <ul class="list-reset mb-8 ml-6">
                    <li class="mb-4 mt-4"><a href="/docs/" class="no-underline text-grey-darkest">What is Bref?</a></li>
                    <li class="mb-4 mt-4"><a href="#" class="no-underline text-grey-darkest">What is serverless?</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/installation.html" class="no-underline text-grey-darkest">Installation</a></li>
                </ul>
                <h3 class="mb-4 text-grey uppercase font-semibold text-sm lg:text-xs tracking-wide">Runtimes</h3>
                <ul class="list-reset mb-8 ml-6">
                    <li class="mb-4 mt-4"><a href="/docs/runtimes/index.html" class="no-underline text-grey-darkest">Introduction</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/runtimes/function.html" class="no-underline text-grey-darkest">PHP functions</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/runtimes/http.html" class="no-underline text-grey-darkest">HTTP</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/runtimes/console.html" class="no-underline text-grey-darkest">Console</a></li>
                </ul>
                <h3 class="mb-4 text-grey uppercase font-semibold text-sm lg:text-xs tracking-wide">Usage</h3>
                <ul class="list-reset mb-8 ml-6">
                    <li class="mb-4 mt-4"><a href="/docs/deploy.html" class="no-underline text-grey-darkest">Deployment</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/local-development.html" class="no-underline text-grey-darkest">Local development</a></li>
                </ul>
                <h3 class="mb-4 text-grey uppercase font-semibold text-sm lg:text-xs tracking-wide">Environment</h3>
                <ul class="list-reset mb-8 ml-6">
                    <li class="mb-4 mt-4"><a href="/docs/environment/php.html" class="no-underline text-grey-darkest">PHP</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/environment/storage.html" class="no-underline text-grey-darkest">Storage</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/environment/logs.html" class="no-underline text-grey-darkest">Logs</a></li>
                </ul>
                <h3 class="mb-4 text-grey uppercase font-semibold text-sm lg:text-xs tracking-wide">Frameworks</h3>
                <ul class="list-reset mb-8 ml-6">
                    <li class="mb-4 mt-4"><a href="/docs/Laravel.html" class="no-underline text-grey-darkest">Laravel</a></li>
                    <li class="mb-4 mt-4"><a href="/docs/Symfony.html" class="no-underline text-grey-darkest">Symfony</a></li>
                </ul>
                <h3 class="mb-4 text-grey uppercase font-semibold text-sm lg:text-xs tracking-wide">Learning</h3>
                <ul class="list-reset mb-8 ml-6">
                    <li class="mb-4 mt-4"><a href="#" class="no-underline text-grey-darkest">Case studies</a></li>
                </ul>
            </nav>
        </div>
        <div class="w-full pt-72 lg:ml-400 overflow-x-hidden px-16 py-16">
            <div class="lg:max-w-700">
                {% block content %}
                    <article>
                        <a href="https://github.com/mnapoli/bref/blob/master/{{ currentFile }}" title="Improve the documentation by editing this file online"
                           class="float-right text-sm hover:bg-grey-lightest text-grey-darkest py-2 px-4 border border-grey-light rounded">
                            Edit <span class="hidden lg:inline">on GitHub</span>
                        </a>

                        {% block article %}
                            {{ content|raw }}
                        {% endblock %}
                    </article>
                {% endblock %}
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github-gist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/yaml.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
