{% extends 'default.twig' %}

{% block content %}

    <h1 class="mb-16">Bref documentation</h1>

    <section class="flex flex-wrap">

        <div class="m-2 max-w-xs rounded overflow-hidden shadow-lg no-underline">
            <div class="px-8 py-5 h-full relative">
                <h2 class="text-xl mt-0 mb-5">What is serverless?</h2>
                <p class="text-grey-darker text-base mb-8">
                    First time here? Take the quick tour to discover serverless and what Bref is.
                </p>
                <a href="#" class="absolute pin-r pin-b text-indigo-dark font-semibold mr-8 mb-5 uppercase no-underline">Read</a>
            </div>
        </div>

        <div class="m-2 max-w-xs rounded overflow-hidden shadow-lg no-underline">
            <div class="px-8 py-5 h-full relative">
                <h2 class="text-xl mt-0 mb-5">Simple functions</h2>
                <p class="text-grey-darker text-base mb-8">
                    Let's create our first PHP function!
                </p>
                <a href="#" class="absolute pin-r pin-b text-indigo-dark font-semibold mr-8 mb-5 uppercase no-underline">Read</a>
            </div>
        </div>

        <div class="m-2 max-w-xs rounded overflow-hidden shadow-lg no-underline">
            <div class="px-8 py-5 h-full relative">
                <h2 class="text-xl mt-0 mb-5">Deployment</h2>
                <p class="text-grey-darker text-base mb-8">
                    Let's deploy our first PHP function on AWS Lambda.
                </p>
                <a href="#" class="absolute pin-r pin-b text-indigo-dark font-semibold mr-8 mb-5 uppercase no-underline">Read</a>
            </div>
        </div>

    </section>

{% endblock %}
