<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bref</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:200,400,600,700" rel="stylesheet">
    <style>
        body {
            font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: "Poppins","Helvetica Neue",Arial,sans-serif;
        }
        h1 {
            font-size: 150px;
            line-height: 1;
        }
    </style>
</head>
<body>
    <div class="container mx-auto px-4">
        <h1 class="mt-6 mb-12">Running <br> PHP is <br> simple again.</h1>
        <h2 class="mb-12 font-normal text-2xl text-grey-dark">It doesn't have to be about servers, orchestration, containers or provisioning.</h2>
        <h2 class="font-normal text-4xl">Bref lets you get things done with the best of serverless.</h2>
    </div>
</body>
</html>
