{% extends 'layout.twig' %}

{% block title %}Bref - Serverless PHP applications made simple{% endblock %}

{% block body %}
<body class="font-sans home">
    <section class="min-h-screen border-t-4 border-grey-dark flex items-center">
        <div class="container mx-auto py-10 lg:py-24 px-4">

            <h1 class="mb-8 lg:mb-12 text-6xl md:text-7xl lg:text-8xl leading-none">PHP <br> online <br> made simple.</h1>

            <h2 class="mb-6 lg:mb-8 font-normal text-lg lg:text-xl text-grey-dark">It doesn't have to be about servers, orchestration, containers or provisioning.</h2>

            <h2 class="font-normal text-2xl md:text-3xl lg:text-4xl">Bref helps you get things done with the best of serverless.</h2>

            <div class="mt-16 md:flex justify-center">
                <a class="block text-center px-10 py-4 border-2 border-grey-darkest rounded-lg bg-grey-darkest text-white hover:text-white hover:border-black hover:bg-black mb-4 md:mr-8" href="/docs/" title="Bref documentation for serverless PHP applications">Documentation</a>
                <a class="block text-center px-10 py-4 border-2 border-grey-darkest rounded-lg bg-white text-grey-darkest hover:text-white hover:border-black hover:bg-black mb-4" href="https://github.com/mnapoli/bref" title="Bref on GitHub">GitHub</a>
            </div>

        </div>
    </section>
</body>
{% endblock %}
