<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bref</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:200,400,600,700" rel="stylesheet">
    <style>
        body {
            font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: "Poppins","Helvetica Neue",Arial,sans-serif;
        }
        h1 {
            font-size: 150px;
            line-height: 1;
        }
    </style>
</head>
<body>
    <section class="border-t-4 border-indigo-darker">
        <div class="container mx-auto py-32 px-4">
            <h1 class="mb-12 text-indigo-darkest">PHP <br> online <br> made simple.</h1>
            <h2 class="mb-12 font-normal text-2xl text-grey-dark">It doesn't have to be about servers, orchestration, containers or provisioning.</h2>
            <h2 class="font-normal text-4xl">Bref helps you get things done with the best of serverless.</h2>

            <div class="mt-24 flex justify-center">
                <a class="block text-center font-bold px-10 py-4 border-2 border-indigo-darker rounded-lg bg-indigo-darker text-white hover:border-indigo-dark hover:bg-indigo-dark no-underline mr-8" href="/docs/">Documentation</a>
                <a class="block text-center font-bold px-10 py-4 border-2 border-indigo-darker rounded-lg bg-white text-indigo-darker hover:border-indigo-dark hover:bg-indigo-dark hover:text-white no-underline" href="https://github.com/mnapoli/bref">GitHub</a>
            </div>
        </div>
    </section>
    <section class="py-32 px-4 bg-indigo-darker text-indigo-lightest">
        <div class="container mx-auto px-4 font-mono">
            <div class="mb-4">$ vendor/bin/bref deploy</div>
            <div class="text-indigo-lighter">Your application has been deployed on AWS Lambda.</div>
        </div>
    </section>
    <section class="py-32 px-4"></section>
</body>
</html>
